<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{644,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,964}}</string>
                <key>sourceSize</key>
                <string>{644,964}</string>
            </dict>
            <key>logo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{272,140}</string>
            </dict>
            <key>option_btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,490},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{230,66}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>option_btn_resume1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,424},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{230,66}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>quick_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,556},{226,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{226,63}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>quick_game1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,524},{226,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{226,63}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>quick_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,357},{236,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{236,67}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>quick_score1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,290},{236,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{236,67}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>quick_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,680},{218,61}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{218,61}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>quick_time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,619},{218,61}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{218,61}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>title_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,264},{260,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{260,72}}</string>
                <key>sourceSize</key>
                <string>{290,100}</string>
            </dict>
            <key>title_play1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,218},{260,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{260,72}}</string>
                <key>sourceSize</key>
                <string>{290,100}</string>
            </dict>
            <key>title_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,146},{262,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{262,72}}</string>
                <key>sourceSize</key>
                <string>{290,100}</string>
            </dict>
            <key>title_score1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,74},{262,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{262,72}}</string>
                <key>sourceSize</key>
                <string>{290,100}</string>
            </dict>
            <key>title_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{262,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{262,72}}</string>
                <key>sourceSize</key>
                <string>{290,100}</string>
            </dict>
            <key>title_setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{262,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{262,72}}</string>
                <key>sourceSize</key>
                <string>{290,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>main@3x.png</string>
        </dict>
    </dict>
</plist>
