<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,484}}</string>
                <key>sourceSize</key>
                <string>{324,484}</string>
            </dict>
            <key>logo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>quick_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,240},{115,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{115,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>quick_game1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,214},{115,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{115,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>quick_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{121,37}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,37}}</string>
                <key>sourceSize</key>
                <string>{125,37}</string>
            </dict>
            <key>quick_score1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{121,37}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,37}}</string>
                <key>sourceSize</key>
                <string>{125,37}</string>
            </dict>
            <key>quick_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,351},{111,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{111,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>quick_time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,240},{111,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{111,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>title_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,179},{115,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{115,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>title_play1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,144},{115,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{115,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>title_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,123},{117,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{117,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>title_score1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,109},{117,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{117,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>title_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,74},{117,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{117,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>title_setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,39},{117,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{117,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
