<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back 2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1290,646},{644,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,964}}</string>
                <key>sourceSize</key>
                <string>{644,964}</string>
            </dict>
            <key>back.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{646,646},{644,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,964}}</string>
                <key>sourceSize</key>
                <string>{644,964}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{644,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,964}}</string>
                <key>sourceSize</key>
                <string>{644,964}</string>
            </dict>
            <key>era.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{644,3106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,3106}}</string>
                <key>sourceSize</key>
                <string>{644,3106}</string>
            </dict>
            <key>eraplay.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{3108,2},{644,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,964}}</string>
                <key>sourceSize</key>
                <string>{644,964}</string>
            </dict>
            <key>logo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{4072,2},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{272,140}</string>
            </dict>
            <key>quick_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1976},{226,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{226,63}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>quick_game1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1913},{226,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{226,63}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>quick_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{236,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{236,67}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>quick_score1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{236,67}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{236,67}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>quick_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1610},{218,61}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{218,61}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>quick_time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1838},{218,61}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{218,61}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>title_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1976},{226,63}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{226,63}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>title_play1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1976},{226,63}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{226,63}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>title_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1913},{228,63}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{228,63}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>title_score1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1610},{228,63}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{228,63}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>title_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1610},{228,63}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{228,63}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
            <key>title_setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1610},{228,63}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{228,63}}</string>
                <key>sourceSize</key>
                <string>{250,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
