<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,597},{83,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{83,71}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>backbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,560},{83,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{83,71}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>dialog_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,466},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{288,272}</string>
            </dict>
            <key>dialog_btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,554},{94,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,43}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>dialog_btn_no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,511},{94,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,43}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>dialog_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,511},{94,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{94,43}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>dialog_btn_yes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,466},{94,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{94,43}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>option_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{772,1028}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,1028}}</string>
                <key>sourceSize</key>
                <string>{772,1028}</string>
            </dict>
            <key>option_btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,400},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{230,66}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>option_btn_menu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,334},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{230,66}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>option_btn_playagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,466},{161,45}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{161,45}}</string>
                <key>sourceSize</key>
                <string>{165,51}</string>
            </dict>
            <key>option_btn_playagain1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,631},{260,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{260,72}}</string>
                <key>sourceSize</key>
                <string>{290,100}</string>
            </dict>
            <key>option_btn_playagain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{246,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{246,68}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>option_btn_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,268},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{230,66}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>option_btn_reset1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,202},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{230,66}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>option_btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,136},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{230,66}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>option_btn_resume1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,70},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{230,66}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>score_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,466},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{212,32}</string>
            </dict>
            <key>slider_back b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,341},{271,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{271,17}}</string>
                <key>sourceSize</key>
                <string>{275,23}</string>
            </dict>
            <key>slider_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,70},{271,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{271,17}}</string>
                <key>sourceSize</key>
                <string>{275,23}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,466},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{76,15}</string>
            </dict>
            <key>text_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,466},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{141,42}</string>
            </dict>
            <key>text_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,466},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{182,53}</string>
            </dict>
            <key>text_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,466},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{76,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>option@3x.png</string>
        </dict>
    </dict>
</plist>
