<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,80},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>backbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,80},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>dialog_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,504},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{144,136}</string>
            </dict>
            <key>dialog_btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,486},{42,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,31}</string>
            </dict>
            <key>dialog_btn_no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,486},{42,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,31}</string>
            </dict>
            <key>dialog_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,486},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,31}</string>
            </dict>
            <key>dialog_btn_yes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,31}</string>
            </dict>
            <key>option_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,484}}</string>
                <key>sourceSize</key>
                <string>{324,484}</string>
            </dict>
            <key>option_btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,80},{79,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{79,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>option_btn_menu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,54},{79,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{79,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>option_btn_playagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{83,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>option_btn_playagain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{83,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>option_btn_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,54},{79,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{79,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>option_btn_reset1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,28},{79,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{79,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>option_btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,28},{79,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{79,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>option_btn_resume1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,28},{79,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{79,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>score_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,504},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{106,16}</string>
            </dict>
            <key>slider_back b.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,495},{114,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,9}}</string>
                <key>sourceSize</key>
                <string>{114,9}</string>
            </dict>
            <key>slider_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,486},{114,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,9}}</string>
                <key>sourceSize</key>
                <string>{114,9}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,504},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>text_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,504},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{71,21}</string>
            </dict>
            <key>text_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,504},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{91,27}</string>
            </dict>
            <key>text_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,504},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>option.png</string>
        </dict>
    </dict>
</plist>
