<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,966},{57,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,49}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>backbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{57,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,49}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>dialog_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{288,272}</string>
            </dict>
            <key>dialog_btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,76},{78,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{78,37}}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>dialog_btn_no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,153},{78,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{78,37}}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>dialog_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,39},{78,37}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{78,37}}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>dialog_btn_yes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{78,37}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{78,37}}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>option_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{644,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,964}}</string>
                <key>sourceSize</key>
                <string>{644,964}</string>
            </dict>
            <key>option_btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,73},{151,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{151,43}}</string>
                <key>sourceSize</key>
                <string>{165,51}</string>
            </dict>
            <key>option_btn_menu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,30},{151,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{151,43}}</string>
                <key>sourceSize</key>
                <string>{165,51}</string>
            </dict>
            <key>option_btn_playagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,966},{161,45}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{161,45}}</string>
                <key>sourceSize</key>
                <string>{165,51}</string>
            </dict>
            <key>option_btn_playagain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,966},{161,45}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{161,45}}</string>
                <key>sourceSize</key>
                <string>{165,51}</string>
            </dict>
            <key>option_btn_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,30},{151,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{151,43}}</string>
                <key>sourceSize</key>
                <string>{165,51}</string>
            </dict>
            <key>option_btn_reset1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{151,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{151,43}}</string>
                <key>sourceSize</key>
                <string>{165,51}</string>
            </dict>
            <key>option_btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,966},{151,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{151,43}}</string>
                <key>sourceSize</key>
                <string>{165,51}</string>
            </dict>
            <key>option_btn_resume1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,966},{151,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{151,43}}</string>
                <key>sourceSize</key>
                <string>{165,51}</string>
            </dict>
            <key>score_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{212,32}</string>
            </dict>
            <key>slider_back b.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,16},{224,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,14}}</string>
                <key>sourceSize</key>
                <string>{224,14}</string>
            </dict>
            <key>slider_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{224,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,14}}</string>
                <key>sourceSize</key>
                <string>{224,14}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{76,15}</string>
            </dict>
            <key>text_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{141,42}</string>
            </dict>
            <key>text_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{182,53}</string>
            </dict>
            <key>text_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{76,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>option-hd.png</string>
        </dict>
    </dict>
</plist>
